backend/src/Application/obj/Application.csproj.nuget.dgspec.json
backend/src/Application/obj/Application.csproj.nuget.g.props
backend/src/Application/obj/Application.csproj.nuget.g.targets
backend/src/Application/obj/project.assets.json
backend/src/Application/obj/project.nuget.cache
backend/src/Application/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
backend/src/Application/obj/Debug/net8.0/Application.AssemblyInfo.cs
backend/src/Application/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
backend/src/Application/obj/Debug/net8.0/Application.assets.cache
backend/src/Application/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache
backend/src/Application/obj/Debug/net8.0/Application.GeneratedMSBuildEditorConfig.editorconfig
backend/src/Application/obj/Debug/net8.0/Application.GlobalUsings.g.cs
backend/src/Domain/obj/Domain.csproj.nuget.dgspec.json
backend/src/Domain/obj/Domain.csproj.nuget.g.props
backend/src/Domain/obj/Domain.csproj.nuget.g.targets
backend/src/Domain/obj/project.assets.json
backend/src/Domain/obj/project.nuget.cache
backend/src/Domain/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
backend/src/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
backend/src/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
backend/src/Domain/obj/Debug/net8.0/Domain.assets.cache
backend/src/Domain/obj/Debug/net8.0/Domain.csproj.AssemblyReference.cache
backend/src/Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
backend/src/Domain/obj/Debug/net8.0/Domain.GlobalUsings.g.cs
backend/src/Infraestructure/obj/Infraestructure.csproj.nuget.dgspec.json
backend/src/Infraestructure/obj/Infraestructure.csproj.nuget.g.props
backend/src/Infraestructure/obj/Infraestructure.csproj.nuget.g.targets
backend/src/Infraestructure/obj/project.assets.json
backend/src/Infraestructure/obj/project.nuget.cache
backend/src/Infraestructure/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
backend/src/Infraestructure/obj/Debug/net8.0/Infraestructure.AssemblyInfo.cs
backend/src/Infraestructure/obj/Debug/net8.0/Infraestructure.AssemblyInfoInputs.cache
backend/src/Infraestructure/obj/Debug/net8.0/Infraestructure.assets.cache
backend/src/Infraestructure/obj/Debug/net8.0/Infraestructure.csproj.AssemblyReference.cache
backend/src/Infraestructure/obj/Debug/net8.0/Infraestructure.GeneratedMSBuildEditorConfig.editorconfig
backend/src/Infraestructure/obj/Debug/net8.0/Infraestructure.GlobalUsings.g.cs
backend/src/WebApi/obj/project.assets.json
backend/src/WebApi/obj/project.nuget.cache
backend/src/WebApi/obj/WebApi.csproj.nuget.dgspec.json
backend/src/WebApi/obj/WebApi.csproj.nuget.g.props
backend/src/WebApi/obj/WebApi.csproj.nuget.g.targets
backend/src/WebApi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
backend/src/WebApi/obj/Debug/net8.0/WebApi.AssemblyInfo.cs
backend/src/WebApi/obj/Debug/net8.0/WebApi.AssemblyInfoInputs.cache
backend/src/WebApi/obj/Debug/net8.0/WebApi.assets.cache
backend/src/WebApi/obj/Debug/net8.0/WebApi.csproj.AssemblyReference.cache
backend/src/WebApi/obj/Debug/net8.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
backend/src/WebApi/obj/Debug/net8.0/WebApi.GlobalUsings.g.cs
